<% include ../partials/boilerplate %>
<body>
<div class='<%= quoteClass %>'>
  <h3><%=quote.quote%></h3>
  <span class='author'><%= quote.author%></span>
  <span class='genre'><%= quote.genre%></span>
</div>
</body>
<% include ../partials/end %>
